# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. TensorFlow

|Data Science Tools|
|-|
|BigML|
||
|Apache Spark|
||
|SAS. It is one of those data science tools which are specifically designed for statistical operation|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [4]:
code = compile("(5 + 4)*3", "<string>", "eval")
eval(code)

27

In [5]:
import math
code = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code)

65449.84694978735

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
mint=200
hours=mint/60
print(hours)

3.3333333333333335

## Author:
Abdelrahman Ktisha